.Rproj.user
.Rhistory
.RData
.Ruserdata
ICGC_All_SNVs_Final.rsav
IDs_convert_Table.txt
PValues_new.rsav
PWMs
Promoters-Encode.rsav
Promoters.bed
Samples_info.rsav
Updated_mutation_scores
VCF-Samples-CancerProjects-Table.rsav
meta_tumor_cohorts
mutation_scores
pcawg_sample_sheet.v1.4.2016-09-14.tsv
pwms_2016_01.rsav
tophat_star_fpkm_uq.v2_sample_gl.tsv
BCB330Y_Registration_Form.pdf
BCB330Y_registration_form.doc
BCExome Project
RTools
joint_fpkm.tsv
joint_fpkm_uq.tsv
MutationRandomization
Merge.R
Merge_PWD_Scores.R
eSet_Import.R
Data
LookupTables
